* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #6f6af7;
  color: #ffffff;
  line-height: 1.4;
  position: fixed;
  top: 0px;
}

.logo {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  font-family: "Delius Unicase";
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 18px; */
  list-style: none;
  font-family: "DM Sans";
}
.list-item li {
  font-size: 18px;
  font-weight: 400;
  padding: 0 28px 0 28px;
}
.list-item li select {
  border: none;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
  padding-top: 6px;
}

.Search {
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 10px 5px 15px;
  border: none;
}

input {
  color: #9f9f9f;
  border-radius: 20px;
  padding: 5px 10px 5px 15px;
  border: none;
  font-family: "DM Sans";
}

.search-logo {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}

.hamburger img {
  height: 35px;
  padding: 2px;
}

.main{
  margin: 150px 80px 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.left-content img{
  width: 360px;
  height: 370px;
  border-radius: 18px;
  box-shadow: 4px 7px 32px 0px rgba(0, 0, 0, 0.44);
 

}

.right-content textarea{
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
  border: 6px solid #FFFFFF;
  border-radius: 18px;
  color: #FFFFFF;
  background-color: #E5D8FF;
  font-size: 18px;
  font-family: 'DM Sans';
  font-weight: 400;
  resize: none;
  padding: 20px 15px 0 15px;
}

.social-icon{
  position: sticky;
  top: 100px;
  margin-top: -280px;
  float: right;
  margin-right: 6px;
}

.social-icon img{
  width: 60px;
  height: 58px;
  display: block;
  padding: 2px;
}

.chat-img{
  left: 1290px;
  top: 590px;
  position: fixed;
}

.chat-img img{
  width: 120px;
  height: 120px;
}

.cards{
 display: flex;
 align-items: center;
 justify-content: space-between;
 color: #FFFFFF;
 margin: 80px 125px 0 125px;
}

.box{
   height: 100px;
   width: 240px;
   font-size: 20px;
   font-family: 'DM Sans';
   font-weight: 700;
   line-height: 1.8;
   letter-spacing: 1px;
   padding: 16px 0 16px 16px;
   border-radius: 8px;
   box-shadow: 0px 9px 31px 0px #00000066;
   ;
}

.card-1{
  background-color: #929DFF;
}
.card-2{
  background-color: #734CF2;
}
.card-3{
  background-color: #D288FF;
}
.card-4{
  background-color: #000000;
}

.info{
  background-color: #483EFF;
  margin:150px 125px 50px 125px;
  padding-right: 50px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.info-cards-left{
   display: flex;
   flex-direction: column;
   gap: 50px;
   padding: 50px;
   font-family: 'DM Sans';
   font-size: 15px;
   font-weight: 700;
}

.card-info-1{
background-color: #BCE0F6;
color: #000000;
border:none;
box-shadow: 0px 6px 35px 0px #00000063;
}
.card-info-2{
  color: #ffffff;
  border: 5px solid #FFFFFF;
}


.card-info{
  height: 90px;
  width: 280px;
  border-radius: 18px;
  /* border: 4px solid #FFFFFF; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-family: 'DM Sans';
  font-weight: 700;
  letter-spacing: 1px;


}

.info-card-right{
  width: 815px;
  height: 400px;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 16px;
  font-family: 'Roboto';
}

.info-card-right h2{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 8px 0 18px 8px;
}
.info-card-right p{
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  color: #143565;
  margin-left: 20px;
}


.info-card-right span{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px;
  margin: 5px;
  word-spacing: 18px;
  /* width: 85px; */
  
}

.btn{
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  border-radius: 6px;
  width: 95px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  position: relative;
  left: 630px;
  top: 55px;


  
}

.btn img{
  height: 12px;
}


